* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

/* #size-indicator::after {
  content: "extra small (xs)";
} */

/*
Main text color: #687864
Alternitive text color: #5085A5
Dark section: #31708E
Light section: #F7F9FB

 */

body {
  font-family: 'Raleway', sans-serif;
  color: #687864;
}

.banner {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
}

h1 {
  color: #F7F9FB;
  font-size: 5rem;
  margin: auto;
  text-transform: uppercase;
}

h1 span {
  display: block;
}

h3 {
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  color: #5085A5;
  margin-bottom: 1.3rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.larger-text {
  font-size: 1.2rem;
}

.rounded-image {
  border-radius: 10px;
}

.rounded {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.social-icons {
  font-size: 5rem;
  padding: 10% 5% 0% 5%;
  color: #F7F9FB;
}

.policies {
  align-self: center;
}

.read-more {
  border: 2px solid #5085A5;
}

.bg-img-portfolio {
  background-position: center;
  background-size: cover;
  min-height: 30vh;
}

img {
  max-width: 100%
}

aside {
  border-left: 1px solid #5085A5;
}

aside h2 {
  font-size: 1.5rem;
  text-align: center;
}

.article {
  padding: 5% 10%;
}

a {
  color: #5085A5;
  text-decoration: none;
}

.sidebar-image-title {
  color: #5085A5;
  margin-top: 5.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f7fafc;
  padding: 0.7rem;
}

a:hover {
  color: #687864;
}

header {
  background-color: #5085A5;
}

header .logo {
  height: 5rem;
  padding: 0rem 2rem;
}

footer .logo {
  height: 5rem;
  padding: 0rem 2rem;
}

header nav a {
  padding: 1.5rem 2rem;
  display: inline-block;
  color: #F7F9FB;
  font-weight: bold;
  text-transform: uppercase;
}

footer nav a {
  padding: 1.5rem 2rem;
  display: inline-block;
  color: #5085A5;
  font-weight: bold;
}

section {
  background-color: #F7F9FB;
  padding: 5% 10%;
}

section h2 {
  text-transform: uppercase;
}

.dark-section {
  background-color: #31708E;
  color: #F7F9FB;
}


.dark-section h2 {
  color: #F7F9FB;
  text-transform: uppercase;
}

.dark-section-social {
  background-color: #31708E;
  color: #F7F9FB;
}

.dark-section-social h2 {
  color: #F7F9FB;
  text-transform: uppercase;
}

.light-section h2 {
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
}

.padded {
  padding: 3%;
}

.padded-1 {
  padding: 1rem;
}

.padded-2 {
  padding: 2rem;
}

.centered {
  text-align: center;
}

.full-width{
  width: 100%;
}

.semi-transparent {
  background-color: rgba(80, 133, 165, 0.7);
}

.post-listing-simple {
  display: block;
  border-bottom: 1px solid #5085A5;
  /* padding: 1rem 0.5rem; */
  color: #F7F9FB;
}

.post-listing-simple span {
  font-size: 0.9rem;
  display: block;
}

.homepage-description {
  margin: auto;
  margin-top: -2rem;
  background-color: #31708E;
  color: #F7F9FB;
  width: 80%;
  padding: 5%;
}

.dark-section .homepage-description {
  background-color: #F7F9FB;
  color: #31708E;
}

.dark-section .homepage-description h3 {
  color: #31708E;
}

.homepage-description h3 {
  color: #F7F9FB;
  min-height: 4.6rem;
}



.capped-width { width: 60%; margin: auto;}

.tall-50  {  min-height: 50vh;   }
.tall-100 {  min-height: 100vh;  }

.flex-flip:nth-child(2n){  flex-direction: row-reverse; }

h2  { font-size: 2.2rem;  }
h3  { font-size: 1.8rem;  }
h4  { font-size: 1.4rem;  }
p   { font-size: 1rem;  }

p, ul {
   margin-bottom: 0.8rem;
}

/* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom:0;
}

/*  */
form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #F7F9FB;
}

textarea {
  min-height: 4rem;
}

form label {
  margin: 1rem 0 0;
  display: inline-block; /* This ads margin above each label. You need display inline block, because by default it's an inline element that won't accept vertical margin.*/
  color: #F7F9FB;
  font-weight: bold;
}

/* Checkbox styles */

form input[type="checkbox"]{
  margin: 0 1rem;
  width: auto;
  display:inline-block;
}

.checkboxes p {
  margin:0.5rem 0;
  font-size: 0.8rem;
}
.checkboxes {
  margin: 0 0 1.5em;
  padding:0!important;
}

form input[type="submit"] {
  background-color:#6C7A89;
  color:white;
  border: none;
}

/* Style 2 remove comment to show alternative

form input,
form textarea {
  border: 2px solid #6C7A89;
  padding:1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

form label {
  text-transform: uppercase;
}

*/

/*  */

hr { /* this is a line element */
  border: none;
  border-bottom: 3px solid;
  width: 4rem;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  color: #5085A5;
  border: 2px solid;
  padding: 0.6rem 2rem;
  margin-top: 1rem;
  /* display: inline-block; */
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;

}

.btn:hover {
  color: #687864;
}

.dark-section .btn {   /* this is for a button on a dark background */
  border: 2px solid #F7F9FB;
  color: #F7F9FB;
}

.dark-section .btn:hover {
  color: #5085A5;
  border-color: #5085A5;
}

.light-section .btn {   /* this is for a button on a dark background */
  border: 2px solid #F7F9FB;
  color: #F7F9FB;
}

.light-section .btn:hover {
  color: #5085A5;
  border-color: #5085A5;
}
/* Editor Styles for CloudCannon */

.one-half {
  width: 49%;
  display: inline-block;
}

.one-third {
  width: 32%;
  display: inline-block;
}

.two-thirds {
  width: 64%;
  display: inline-block;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #DEAF9C;
}

/* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/

.burger-button {
  position:absolute;
  top: 2vh;
  right: 2vh;
  z-index: 9;
  padding: 8px;
  margin-top: 1rem;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 2px solid #F7F9FB;
  background-color: #F7F9FB;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: #31708E;
  background-color: #31708E;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: -100vh;
    left:0;
    right: 0;
    bottom: 100vh;
    background-color: #F7F9FB;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
  top:0;
  bottom:0;
}
.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #31708E;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
  text-transform: uppercase;
}


.ig-b- { display: inline; } .ig-b- img { visibility: hidden; } .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; } .ig-b-16 { width: 16px; height: 16px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; } @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; } }

/* Above CSS applies for xs and above */

.mob-hide {
  display: none;
}

.tablet-show {
  display: none;
}

/* Specific CSS for sm */
@media (min-width: 36em) {
  #size-indicator::after {
    content: "small (sm)";
  }
  .tablet-show {
    display: block;
  }
  .tablet-hide {
    display: none;
  }
}

/* Specific CSS for md */
@media (max-width: 48em) {
  #size-indicator::after {
    content: "medium (md)";
  }

  h1 {
    font-size: 3rem;
  }
}

/* Specific CSS for lg */
@media (max-width: 64em) {
  #size-indicator::after {
    content: "large (lg)";
  }
}

/* Specific CSS for xl */
@media (max-width: 80em) {
  #size-indicator::after {
    content: "extra large (xl)";
  }
}
