---
layout: default
title: Big Billy's daft adventures
banner: /images/bali-to-gili-trawangan-gili-t-sunset.jpg
---

<!-- Banner -->

{% include banner.html%}

<!-- Portfolio posts -->

<section class="light-section padded">
  <h2 class="centered">
    latest Portfolio posts
  </h2>
  <div class="grid">
    {% for post in site.portfolio limit:2 %}
    <div class="col-6_sm-12 centered padded">
      {% include post-listing.html %}
    </div>
    {%endfor%}
  </div>
</section>

<!-- Blog posts -->

<section class="dark-section padded">
  <h2 class="centered">
    latest blog posts
  </h2>
  <div class="grid">
    {% for post in site.blog limit:3 %}
    <div class="col-4_sm-12 centered padded">
      {% include post-listing.html %}
    </div>
    {%endfor%}
  </div>
</section>

<!-- About -->

<section class="grid-noGutter">
  <div class="col-6 sm-12">
    <div>
      <img class="rounded-image" src="/images/billy-livin.JPG" alt="Billy livin">
    </div>
  </div>
  <div class="col-6_sm-12">
    <div class="padded centered">
      <h2>
        Billy Williamsson
      </h2>
      <p class="larger-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="centered padded light-section capped-width btn">
      <a href="/about"> READ MORE</a>
    </div>
  </div>
</section>
